*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
font-family: 'Courier New', Courier, monospace;
font-size: 18px;
width: 100vw;
height: 100vh;
}

nav{
  width: 100%;
  height: 70px;
  background-color: black;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.brand-section{
  display: flex;
  align-items: center;
}

.brand-logo {
  margin: 1rem;

}

.brand-logo span {
  color: aqua;
  font-size: 2rem;
}
.brand-title a {
  text-decoration: none;
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

/* main menu start */

.main-menu {
  display:flex ;
margin: 1rem;
}
.main-menu a {
display: inline-block;
margin-right: 1rem;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
color: aqua;
}

.main-menu a:hover{
  text-decoration: none;
color: yellow;
}
/* main menu end */
/* right menu start */
.right-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.right-menu a {
  display: inline-block;
  margin-right: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: greenyellow;
}
 
.right-menu button {
  background-color: transparent;
  border: none;
  outline: none;
  color: greenyellow;
 cursor: pointer;
}

.right-menu button > span {
  font-size: 2rem;
}
/* right menu end */



